{% extends "GloryMenuBundle::layout.html.twig" %}
{% block javascripts %}{% endblock %}
{% block content %}
    <div class="row">
        {% for menu in menus %}
            <div class="col-md-4 col-sm-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <i class="fa fa-list"></i>
                        <h3 class="box-title">{{menu.label}}</h3>
                        <div class="box-tools pull-right">
                            <a href="{{path('glory_menu_create',{name:menu.name})}}" class="btn btn-success"><i class="fa fa-plus"></i></a>
                            <a href="{{path('glory_menu_edit',{name:menu.name})}}" class="btn btn-warning"><i class="fa fa-edit"></i></a>
                            <a href="{{path('glory_menu_delete',{name:menu.name})}}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul class="todo-list">
                            {% for item in menu.children %}
                                <li class="{{menu.level}}">
                                    <span class="handle">
                                        <i class="fa fa-ellipsis-v"></i>
                                        <i class="fa fa-ellipsis-v"></i>
                                    </span>
                                    <span class="text">{{item.label}}</span>

                                    <small class="label label-danger"><i class="fa fa-link"></i> {{item.uri}}</small>
                                    <div class="tools">
                                        <a href="{{path('glory_menu_edit',{name:item.name})}}">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="{{path('glory_menu_delete',{name:item.name})}}">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
